html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html, body, input, button, select {
    font-size: 1.1em;
    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#tabs, #jobtabs {
    border-right: solid 1px black;
    flex-grow: 0;
    min-width: 100px;
    overflow: auto;
}

.tab {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-right: 5px;
}

#options {
    border-right: solid 1px black;
    flex-grow: 0;
    min-width: 300px;
    overflow: auto;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 5px;
}

#scene {
    flex-grow: 1;
}
